@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Sans+KR:wght@100;400;500&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body .bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/GatoradeBg.jpg);
  background-position: center;
  position: fixed;
  z-index: -1;
}
body header {
  width: 100%;
  height: 150px;
  background-color: #000;
  border-bottom: 1px solid #aaa;
  box-shadow: 1px 1px 5px #000;
  position: relative;
  z-index: 100;
}
body header .inner {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}
body header .inner h1 {
  text-align: center;
}
body header .inner h1 a img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  width: 150px;
  transition: 0.3s;
}
body header .inner h1 a img.logoHover {
  opacity: 0;
}
body header .inner h1 a:hover img.logoHover {
  opacity: 1;
}
body header .inner .gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
body header .inner .gnb li {
  width: 25%;
  text-align: center;
}
body header .inner .gnb li a {
  font: bold 18px/1 "Nunito";
  color: #fff;
  letter-spacing: 1px;
  transition: 0.5s;
}
body header .inner .gnb li a.on {
  border-bottom: 3px solid orange;
}
body header .inner .gnb li a.on:hover {
  border-bottom: 3px solid orange;
}
body header .inner .gnb li a:hover {
  border-bottom: 1.5px solid lemonchiffon;
}
body footer {
  width: 100%;
  border-top: 1px solid #aaa;
  background-color: #000;
}
body footer .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body footer .inner .footerLogo {
  padding: 20px;
}
body footer .inner .footerLogo h2 {
  text-align: center;
}
body footer .inner .footerLogo h2 a img {
  width: 150px;
  filter: grayscale(0.5);
}
body footer .inner .footerLogo span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}
body footer .inner .footerContent {
  padding: 20px;
}
body footer .inner .footerContent .footerMenu {
  width: 100%;
}
body footer .inner .footerContent .footerMenu ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body footer .inner .footerContent .footerMenu ul li {
  margin-right: 20px;
  text-align: center;
}
body footer .inner .footerContent .footerMenu ul li:nth-child(1) a::after, body footer .inner .footerContent .footerMenu ul li:nth-child(2) a::after, body footer .inner .footerContent .footerMenu ul li:nth-child(3) a::after {
  content: "|";
  margin-left: 10px;
}
body footer .inner .footerContent .footerMenu ul li a {
  font: bold 13px/1 "맑은 고딕";
  color: #bbb;
}
body footer .inner .footerContent .sns {
  margin-top: 20px;
}
body footer .inner .footerContent .sns ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body footer .inner .footerContent .sns ul li {
  margin-right: 20px;
}
body footer .inner .footerContent .sns ul li a {
  font: 21px/1 "맑은 고딕";
  color: #bbb;
}

main article {
  height: 800px;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: 0.7s;
  border: 1px solid #999;
}
main article a {
  display: block;
  position: absolute;
  z-index: 1;
  text-align: left;
  cursor: pointer;
}
main article a h2 {
  margin-bottom: 20px;
  font: bold 35px/1.2 "Noto+Sans+KR";
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}
main article a h3 {
  margin-bottom: 20px;
  font: 24px/1.2 "Noto+Sans+KR";
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}
main article a button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font: bold 25px/1.2 "Noto+Sans+KR";
  text-shadow: 5px 5px 10px #000;
  cursor: pointer;
}
main article a span {
  margin-left: 10px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
main article a span::before {
  display: block;
  opacity: 0;
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  background-color: #fff;
  top: -4.5px;
  left: -30px;
  clip-path: polygon(25% 51%, 44% 45%, 13% 93%, 100% 23%, 69% 28%, 94% 3%, 41% 25%);
  z-index: 1;
  transition: 0.1s;
}
main article a span i {
  font-size: 25px;
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}
main article a:hover button {
  color: greenyellow;
}
main article a:hover span {
  margin-left: 30px;
}
main article a:hover span i {
  color: greenyellow;
}
main article a:hover span::before {
  opacity: 1;
  background-color: orange;
}
main #mainNow {
  right: 100%;
}
main #mainNow a {
  width: 50%;
  top: 0;
  left: 50%;
  padding: 50px 50px 50px 300px;
}
main #mainNow img {
  width: 100%;
  object-fit: cover;
}
main #mainBrand {
  left: 100%;
}
main #mainBrand a {
  width: 70%;
  top: 0;
  left: 20%;
  padding: 250px 50px 50px 300px;
}
main #mainBrand .YeonAhKim {
  height: 100%;
  object-fit: cover;
}
main #mainBrand .product {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 25%;
}
main #mainStory {
  right: 100%;
  height: 800px;
  width: 100%;
  background-image: url("../images/main/Gatorade조던.jpg");
  background-position: right;
}
main #mainStory a {
  width: 50%;
  top: 0;
  left: 0%;
  padding: 250px 50px 50px 50px;
}
main #mainStory img {
  opacity: 0;
}
main #mainCompany {
  left: 100%;
}
main #mainCompany a {
  width: 100%;
  top: 0;
  left: 0;
  padding: 100px 50px 50px 50px;
}
main #mainCompany img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  main #mainNow a {
    padding: 50px;
  }
  main #mainNow img {
    width: auto;
    height: 800px;
    position: relative;
    left: -50px;
  }
  main #mainBrand a {
    top: 50%;
    left: 0%;
    padding: 50px;
  }
  main #mainCompany {
    height: 800px;
    width: 100%;
    background-image: url("../images/main/GatoradeCompany.jpg");
    background-position: center left;
    background-size: auto;
  }
  main #mainCompany img {
    opacity: 0;
  }
}
@media screen and (max-width: 800px) {
  main article a h2 {
    font: bold 25px/1.2 "Noto+Sans+KR";
  }
  main article a h3 {
    font: 18px/1.2 "Noto+Sans+KR";
  }
  main #mainNow a {
    width: 100%;
    left: 0%;
    margin-top: 70%;
  }
  main #mainBrand a {
    width: 100%;
    top: 0%;
    padding: 50px;
  }
  main #mainBrand .YeonAhKim {
    position: relative;
    left: -170px;
  }
  main #mainBrand .product {
    display: none;
  }
  main #mainStory {
    background-image: none;
  }
  main #mainStory img {
    opacity: 1;
    height: 100%;
    position: relative;
    left: -1700px;
  }
  main #mainStory a {
    width: 100%;
    padding: 250px 50px 50px 50px;
  }
}
@media screen and (max-width: 400px) {
  body .bg {
    background-image: url(../images/GatoradeBgMobile.jpg);
  }
  body main #mainNow a {
    padding: 20px;
    margin-top: 100%;
  }
  body main #mainNow img {
    margin-left: -50px;
  }
  body main #mainBrand a {
    padding: 20px;
  }
  body main #mainBrand .YeonAhKim {
    position: relative;
    left: -150px;
  }
  body main #mainStory a {
    padding: 250px 20px 20px 20px;
  }
  body main #mainCompany a {
    padding: 100px 20px 20px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
