*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: #444;
    .bg{
        width: 100vw;
        height: 100%;
        position: fixed;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    header{
        width: 100%;
        height: 150px;
        background-color: #000;
        border-bottom: 1px solid #aaa;
        box-shadow: 1px 1px 5px #000;
        position: relative;
        z-index: 100;
        
        .inner{
            margin: 0 auto;
            max-width: 1200px;
            height: 100%;
            h1{
                text-align: center;
                a{
                    img{
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        padding-top: 10px;
                        width: 150px;
                        transition: 0.3s;
                        &.logoHover{
                            opacity: 0;

                        }
                    }
                    

                    &:hover{
                        img{
                            &.logoHover{
                              opacity: 1;
                            }
                        }
                    }
                }
            }
            .gnb{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 120px;
                
                li{
                    width: 25%;
                    text-align: center;
                    a{
                        font: bold 18px/1 'Nunito';
                        color: #fff;
                        letter-spacing: 1px;
                        transition: 0.5s;
                        
                        &.on{
                            border-bottom: 3px solid orange;
                            &:hover{
                                border-bottom: 3px solid orange;
                            }
                        }
                        &:hover{
                            border-bottom: 1.5px solid lemonchiffon;
                        }
                    }
                }
            }
            .gnbMobile{
                display: none;
            }
        }
    }
    footer{
        width: 100%;
        border-top: 1px solid #aaa;
        background-color: #000;
        .inner{
           width: 100%;
           display: flex;
           flex-wrap: wrap;
            justify-content: space-evenly;
           .footerLogo{
          
            padding: 20px;
            h2{
                text-align: center;
                a{
                    img{
                        width: 150px;
                        filter: grayscale(0.5);
                    }
                }
            }

            span{
                display: block;
                text-align: center;
                font-size: 14px;
                color: #bbb;
            }
           }
           .footerContent{
            padding: 20px;
           

                .footerMenu{
                    width: 100%;
                    ul{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                        margin-right: 20px;
                        text-align: center;
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3){
                            a{
                                &::after{
                                    content: "|";
                                    margin-left: 10px;
                                }
                            }
                        }
                    
                            a{
                                font: bold 13px/1 '맑은 고딕';
                                color: #bbb;
                            }
                        }
                    }
                }
                .sns{
                    margin-top: 20px;
                    ul{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            margin-right: 20px;
                            a{
                                
                                font: 21px/1 '맑은 고딕';
                                color: #bbb;
                            }
                        }
                    }
                }
           }
        }
    }
}