@media screen and (max-width : "400px") {
    main{
        article{
            height: 700px;
        }
        #mainNow{
            a{
                padding: 20px;
                margin-top: 100%;
            }
                
        }
        #mainBrand{
            .YeonAhKim{
                position: relative;
                left: -150px;
                }
          
            }
    
         
    }
}