@media screen and (max-width : "1400px") {
    body{
    main{
        #mainNow{
            a{
                padding: 50px;
            }
            img{
                width: auto;
                height: 800px;
                position: relative;
                left: -50px;
                }
                
        }
        #mainBrand{
            a{
                top: 50%;
                left: 0%;
                padding: 50px;
            }
                
        }
        #mainCompany{
            height: 800px;
            width: 100%;
            background-image: url("../images/main/GatoradeCompany.jpg");
            background-position: center left;
            background-size: auto;
            
            img{
                opacity: 0;
                }
        }
    
       
       
    }
    #brandsContent{
   
        h2{
            margin: 20px;
            
        }
        
    }
    #brandsContent2{
   
        h2{
            margin: 20px;
            
        }
        
    }
  
}
}