@media screen and (max-width : "1400px") {
    main{
        #mainNow{
            a{
                padding: 50px;
            }
            img{
                width:auto;
                position: relative;
                left: -50px;
                }
                
        }
        #mainBrand{
            a{
                top: 50%;
                left: 0%;
                padding: 50px;
            }
                
        }
        #mainCompany{
            height: 800px;
            width: 100%;
            background-image: url("../images/main/GatoradeCompany.jpg");
            background-position: center left;
            background-size: auto;
            
            img{
                opacity: 0;
                }
        }
      
       
       
    }
}