#brandsVisual{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url(../images/brands/gatoradeBrandsMain.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: center ;
    align-items: center;
    h3{
        font: bold 50px/1.5 'Noto+Sans+KR';
        width: 100%;
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 10px #000;       
    }
}
#brandsContent{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    margin-bottom: 10px;
   
    
    h2{
        display: block;
        max-width: 1000px;
        margin: 20px auto;
        font: bold 21px/1.5 'Noto+Sans+KR';
        border-left: 8px solid orange;
    }
    .brandsLoop{
        width: 100vw;
        height: 500px;
        margin: 0 auto;
        position: relative;

        .slide{
            width: 100%;
            height: 100%;
            margin-top: 40px;
            position: relative;

            li{
                width: 350px;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                transition: 0.5s;

                h4{
                    position: absolute;
                    bottom: -135px;
                    width: 100%;
                    display: block;
                    font: 16px/1.5 'Noto+Sans+KR';
                    white-space: nowrap;
                    text-align: center;
                    color: #999;
                    transition: 0.5s;
                }
                img{
                    position: relative;
                    top: 100px;
                    left: -7px;
                    transition: 0.5s;
                }
                a{
                    width: 115px;
                    position: absolute;
                    display: block;
                    bottom: -140px;
                    opacity: 0;
                    text-align: center;
                    font: 18px/1.8 'Noto+Sans+KR';
                    background-color: green;
                    border-radius: 20px;
                    color: #fff;
                    left: 48%;
                    transform: translateX(-50%);
                    transition: opacity 0.2s;
                
                }
            }
            
            //li 각자 위치 조정
            li{
                &:nth-of-type(1){
                    transform: translate(-350% ,-50%);
                    img{
                        transform: scale(0.8);
                    }
                }
                &:nth-of-type(2){
                    transform: translate(-250% ,-50%);
                    img{
                        transform: scale(0.8);
                    }
                }
                &:nth-of-type(3){
                    transform: translate(-150% ,-50%);
                    img{
                        transform: scale(0.8);
                    }
                }
                &:nth-of-type(4){
                    h4{
                        top: 0;
                        font: bold 50px/1.5 'Noto+Sans+KR';
                        color: #555;    
                    }
                    a{
                        opacity: 1;

                        &:hover{
                            opacity: 0.7;
                        }
                        
                    }
                }
                &:nth-of-type(5){
                    transform: translate(50% ,-50%);
                 
                    img{
                        transform: scale(0.8);
                    }
                }
                &:nth-of-type(6){
                    transform: translate(150% ,-50%);
                 
                    img{
                        transform: scale(0.8);
                    }
                }
                &:nth-of-type(7){
                    transform: translate(250% ,-50%);
                 
                    img{
                        transform: scale(0.8);
                    }
                }
            
            }
        }
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 3;
        div{
            cursor: pointer;
			width: 100px;
			height: 36px;
			border-radius: 18px;
			background-color: yellowgreen;
			display: flex;
			justify-content: center;
			align-items: center;
			font: 12px/1 'arial';
			color: #fff;
            transition: 0.2s;
         

			&:hover {
				opacity: 0.7;
			}
		
        }
    }
    .popUp{
        position: fixed;
        z-index: 100;
        top: 0;
        width: 40vw;
        height: 100%;
        background-color: rgba($color: #bbb, $alpha: 0.4);
        backdrop-filter: blur(10px);
        left: -100%;
        transition: 0.5s;
        border-right: 2px solid #bbb;
        padding-top: 20vh;

        h2{
            font: bold 30px/1.8 'Noto+Sans+KR';
            color: #111;
            text-align: center;
            border: none;
            margin: 0;
        }
        p{
            font: 16px/1.8 'Noto+Sans+KR';
            color: #444;
            padding: 20px;
            margin-bottom: 50px;
        }
        .close{
            cursor: pointer;
            display: block;
            width: 30%;
            margin: 0 auto;
            text-align: center;
            font: 20px/1.8 'Noto+Sans+KR';
            color: #fff;
            border-radius: 50px;
            background-color: green;
            transition: 0.25s;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}